$grey-color: #6f6f6f;
blockquote {
  font-style: italic;
  font-size: 19px;
  color: $grey-color;
  line-height: 1.7;
}

a {
  color: #007bff;
}

h3,
h4 {
  margin-top: 15px;
}

.header {
  padding-bottom: 0;
}

.blogpost {
  width: 100%;
  padding-top: 0;
  &__date {
    color: $grey-color;
    span {
      margin-right: 2px;
    }
  }
}
