$black: #2a2135;
$background-color: #fdfdfd;

:root {
    --font-family: "Google Sans", Arial, Helvetica, sans-serif;
  
    --color-primary-black: #2a2135;
    --color-bg-primary: #fdfdfd;
    --color-primary-link: #007bff;
    --color-pills: #5ca9fb;
    --color-bg-blockquote: #e2e2e9;
    --color-primary-grey: #6f6f6f;
    --color-code: #f0f5ff;
    --color-code-border: #cbd3fb;
    --color-bg-code: #0c0c0c;
  }