html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}
