@import '~prismjs/themes/prism-okaidia.css';
@import './common.scss';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  line-height: 1.5;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  color: var(--color-primary-black);
  padding: 0;
  font-size: 17px;
}

ul,
li {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 10px 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}


li,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 16px;
  }
}
