html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-color: #fdfdfd;
  color: #444452;
  padding: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}
