html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.15;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}
