.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contact-links--twitter {
  fill: rgb(0, 172, 237);
}

.contact-links--linkedin {
  fill: rgb(0, 127, 177);
}

@media screen and (max-width: 480px) {
  .contact-links {
    margin-top: 0;
  }
}
