.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-height: 100vh;
  max-width: 66.875rem;
  margin: auto;
}

.wrapper > * {
  padding: 20px;
}

.container {
  display: flex;
  width: calc(66.875rem - 350px);;
}

.cards {
  width: 100%;
  margin: 0 2.5rem;
  margin-top: 2rem;
}

.cards h4 {
  margin-bottom: 0;
}

.blog {
  width: 100%;
  margin: 0 2.5rem;
  margin-top: 2rem;
  line-height: 1.7;
}

.container a:hover {
  text-decoration: underline;

}
