ul li {
  padding-top: 8px;
}

#avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile > * {
  display: flex;
  justify-content: center;
}

.profile__title a {
  color: #222;
}

.profile__desc {
  padding-left: 1rem;
}

.nav-item {
  color: #6f6f6f;
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-link);
  transform-origin: bottom left;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-active-item {
  color: var(--color-primary-link);
}
