ul li {
  padding-top: 8px;
}

#avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile > * {
  display: flex;
  justify-content: center;
}

.profile__title a {
  font-size: 1.5rem;
  color: #222;
}

.profile__desc {
  padding-left: 1rem;
}

.nav-item {
  color: #999;
}

.nav-item:hover {
  color: #666;
}

.nav-active-item {
  color: #007bff;
}
